<nav>
	<ul>
	<li id="page-title"><span>{{name}}'s Page</span></li>
	<li><a href="https://github.com/redhairdragon"  target="_blank">Github</a></li>	
	<li><a href="https://drive.google.com/file/d/1Exh1xbJl_D51016cVSHbl9_LYcLDY2f9/view?usp=sharing"  target="_blank">Resume</a></li>	
	</ul>
</nav>

<div id="personal-info">
	<img id="avatar" src="assets/shen.jpg">
	<div id="info">Shen Teng</div>
	<div id="position">1st year UCLA Master Student</div>
	<div id="email"><a href="mailto:webmaster@example.com">shen_teng@engineering.ucla.edu</a> </div>
</div>
<app-markdown-text [mdContent]="introduction"></app-markdown-text>

