#personal-info{
	/*flex-grow: 1;*/
	width: 33%;
	max-width: 15em;
}
#personal-info>*{
	/*float:left;*/
	max-width:90%;
}
#personal-info a{
	word-wrap: break-word;
	display: block;
}
#avatar{
	max-height:60%;
}

div app-markdown-text{
	/*flex-grow: 3;*/
}